
.container {
  min-height: auto;
  top:300px ;
  left : -20px;
  z-index: -3;
  opacity: 0.4;
  position: absolute;
  width: 500px;
  display: flex;
  gap:30px ;
  row-gap: 30px;
  
  flex-wrap: wrap;
  
}


.container div {
  height: 40px;
  width: 40px;
  background-color: aqua;
  display: flex;
  flex-direction: column;
}
