.startheadcontainer {
  
  border: 5px solid black ;
  width:70vw;
  height:100%;
  display: flex;
  
}


.boxleft{
  border-right: 5px solid black;
  display: inline-block;
  padding: 10px 20px 10px 20px;

  
}


.boxmid{
  border-right: 5px solid black;
  padding: 10px 10px 10px 10px;
  display: flex;
  width: 170vw;
  justify-content: center;
  align-items: center;
  font-weight: 500;

}

.boxmid:hover {
  font-size: 0;
}

.boxmid:hover + .boxright  {
  background-color: #02c245;
}


.boxright{
  padding: 10px 10px 10px 10px;
  /* margin: auto; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.boxright a {
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}


















.midheadcontainer{
  border: 5px solid black ;
  padding-top: 0px;
  border-top: 0px;
  width:70vw;
  height:100%;
  display: flex;
  flex-direction: row;
  min-height: 466px;

}

.midheadleft{
  border-right: 5px solid black ;
  display: flex;
  justify-content: center;
  background-color: white;
  align-items: center;
}


.midheadright{
  
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.midheadrighttop{
  background-color: #0abbee;
  padding: 30px 30px 30px 30px ;
  height: auto;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  border-bottom: 5px solid black ;
}

.midheadrightbottom{
  background-color: #02c245;
  padding: 30px 30px 30px 30px ;
  font-size: 30px;
  font-weight: 600;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.smya {
  height: 200px;
  border-bottom:5px solid black ;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 40px;
  font-family: Gotham,Helvetica Neue,Helvetica,sans-serif;
}





