



.tools {
  background-color: #e2e8f0;
  width: 70vw;
  border: 5px solid black;
  margin-top: 150px;
}

.toolstitle {
  background-color: white;
  font-size: 30px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 10px;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
}

.list {
  display
  : flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px ;
}

.imgg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 40vw;
}